  /*
 * Overrides CSS
 */

body {
  font-family: 'Arial';
  display: flex;
  flex-flow: row wrap;
}

a {
    transition: all 0.3s ease-in-out;
}

.clr {
    clear: both;
}

.corp-color {
    color: #b70d28;
}

.wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 4px rgba(212, 212, 212, 0.55);
}

@font-face {
    font-family: 'michromaregular';
    src: url('../fonts/michroma-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/michroma-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BrushScriptMT';
  src: url('../fonts/BrushScriptMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

div.vcard {
    text-align: right;
    text-transform: uppercase;
    font-family: 'michromaregular';
    color: #485152;
}

div.vcard a {
    color: #485152;
    transition: all 0.5s ease;
    white-space: nowrap;
}

div.vcard a:hover,
div.vcard a:focus,
div.vcard a:active {
    color: #b70d28;
    text-decoration: none;
}

div.vcard .url {
    display: none;
}

div.vcard .country-name {
    display: none;
}

div.vcard .tel {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

div.vcard .adr {
    font-size:;
    letter-spacing: 1px; 
    padding: 30px 0px 0px;
}

@media(min-width: 1200px) {

  body.site div.logo.pull-left {
      margin-left: 94px;
      padding-bottom: 20px;
  }

  div.header-right.pull-right {
      margin-right: 103px;
  }
}
/*content*/

body.itemid-111 div#component {    
    background-color: #f4f4f4;
    margin: 0px auto;
  }

div#component {
    color: #545d5e;
    background-color: transparent;
    margin: 0px auto 50px;
}

div#component h2 {
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

div#component h1 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

.container.content {
    background-color: inherit;
}

main#content {
    font-size: 18px;
    line-height: 26px;
}

.page-header {
    border: none;
}

.item-image,
div.category-desc img {
    box-shadow: 3px 3px 7px 0px #676767;
}

footer {
    border-bottom: 20px solid #b70d28;
    border-top: 4px solid #f4f4f4;
    margin: 0px auto;
}


.flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.moduletable.rotoAdvert {    
    padding: 30px 20px;
}

div.module_bottom {
    border: 1px solid #e6e6e6;
    flex: 1;
    box-shadow: 5px 5px 10px 0px #B5B5B5;
}


@media(min-width: 768px) {

  body.itemid-111 div.clear-top {
      position: relative;
      bottom: 55px;
  }

  body.itemid-111 div#component {
      position: relative;
      bottom: 45px;
  }

  body.itemid-111 div.clear-bottom {
      position: relative;
      bottom: 25px;
  }
}

.container-top {
    margin: 10px auto 0px;
}

h3.fenster-slogan {
    display: none;
}

body.itemid-111 h3.fenster-slogan {
    display: block;
    color: #B70D28;
    font-family: 'BrushScriptMT';
    font-size: 45px;
    font-weight: 100;
    text-shadow: 3px 2px 7px #D0D0D0;
}

body.itemid-111 .f-slogan h4 {
    margin-top: 0px;
}

.f-slogan h4 {
    color: #757477;
    margin-top: 20px;
}

.f-slogan h4 span {
    color: #b70d28;
}

body.itemid-129 div#component h1 {
    text-transform: none;
    margin: 20px 0px;
}

div#component h2 {    
    font-weight: bold;
    text-transform: none;
}

div#component h2 span {
    color: #B70D28;
    font-weight: bold;
    text-transform: none;
}

div#component p.readmore a {
    color: #B70D28;
    text-decoration: underline;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 12px 4px 0px;
}

div#component div.blog div.clearfix {
    margin: 0px 0px 50px 0px;
}

ul.pager.pagenav a {
    color: #B70D28;
    border-radius: 0px;
}

ul.pager.pagenav a span {
    background-image: none;
    margin-top: 3px;
}

/*team*/

.team-view.span12 figcaption {
    width: 82%;
    font-size: 14px;
    padding: 15px 0;
    text-align: center;
    line-height: normal;
}
@media(max-width: 736px) and (orientation: portrait) {
  
  body.site .img_caption.none {
      max-width: 280px !important;
  }
}

/*Scroll to top-Button*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
      background-color: #b70d28;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 10%;
    bottom: 10%;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}



/*Resp overrides*/

.hidden1024 {
    display: none;
}

.visible1025 {
    display: none;
}

@media (min-width: 1200px) {

  div#component,
  footer,
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
      width: 1280px;
  }
}

@media(min-width: 1070px) {
    body.site div#component .container.content,
    .container-top,
    .clear-footer-wrap {
        width: 1070px;
    }

    body.site div.container.clear-bottom-wrap {
        width: 1070px;
    }    
}


/*slider*/

.clear-slider-wrap { 

}
@media(min-width: 1025px) {
  .clear-slider {
      bottom: 62px;
      position: relative;
      z-index: 998;
      overflow: hidden;
      max-height: 478px;
  }
}
body.site .theme-default .nivo-controlNav a {
    background: #e5e5e5;
    border: 1px solid #AFAFAF;
}

body.site .theme-default .nivo-controlNav a.active {
    background: #b70d28;
    border: 1px solid #AFAFAF;
}

body.site .theme-default .nivo-controlNav a {
  background: none;
}

body.site .nivo-controlNav {
    position: relative;
    bottom: 95px;
    z-index: 1000;
    float: left;
    margin-left: 35px;
}

body.site .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    /* this is the fix */
    vertical-align: baseline !important;
    max-width: none !important;
}

/*slider top*/
body.site .nivo-caption {
    right: 0px;
    left: initial;
    bottom: 40px;
    background: #485152;
    width: 55%;
}

body.site .nivo-caption h2 {
    font-weight: lighter;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 10px 0 0 0 ;
    line-height: 30px;
}

body.site .nivo-caption p {
    letter-spacing: 2px;
    padding: 0px 5px 10px 0px;
}

body.site .nivo-directionNav {
    position: relative;
    bottom: 110px;
    overflow: visible;
}

/*body.site .theme-default .nivo-directionNav a.nivo-nextNav {
    display: block;
    width: 60px;
    height: 60px;
    opacity: 1;
    background: url("../../../images/arrow-right.png") no-repeat;
  }*/

body.site a.nivo-prevNav {
    display: none;
}

.visible767 {
    display: none;
}

/*slider bottom*/

body.site div.sliderBottom .nivo-caption {
    bottom: 10px;
    width: 100%;
}

body.site div.sliderBottom .nivo-directionNav a.nivo-nextNav {
    display: none;
}
body.site div.sliderBottom .nivo-controlNav {
    bottom: 5px;
    margin-left: 0px;
}

/*Module Bottom*/

.custom.rotoAdvert span {
    color: #b70d28;
    text-transform: uppercase;
}


.rotoAdvert div.nivo-caption h2 span {
    color: #e2445d;
}


.rotoAdvert div.nivo-caption h2 span,
.rotoAdvert div.nivo-caption h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
}

.rotoAdvert div.nivo-caption p {
    font-size: 18px;
    text-transform: uppercase;
}

.custom.rotoAdvert p {
    font-size: 18px;
}

.roto-link {
    color: #b70d28;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
    font-weight: bold;
    line-height: 70px;
    font-size: 18px;
    float: left;
    clear: left;
}

@media(min-width: 768px) {

  .advert-img {
      width: 250px;
  }
}

.moduletable.rotoAdvert.sliderBottom>h2::before,
body.itemid-129 div#component h1::before {
    content: "ROTO";
    color: #b70d28;
}

/*kontakt*/

body.itemid-132 .item-page {
    margin-bottom: 50px;
}

body.site .googleMap,
body.site div#ap_ajax_qc_101 {
    margin: 0;
}

/*footer*/
body.site ul.nav.menu.impressum li {
    padding-top: 10px;
}

body.site ul.nav.menu.impressum li a {
    font-size: 16px;
    display: inline;
    text-transform: uppercase;
    color: #757477;
    letter-spacing: 1px;
}

body.site ul.nav.menu.impressum li a:hover {
    color: #B70D28;
}

.copyright {
    font-size: 11px;
    margin: 5px 0;
}

 /*Menue*/

body.site .navbar .nav>li>.dropdown-menu:after,
body.site .navbar .nav>li>.dropdown-menu:before {
    border-bottom: 6px solid rgba(255, 255, 255, 0);
    border-left: 6px solid transparent;
}

body.site .navbar .nav li.dropdown.open>.dropdown-toggle,
body.site .navbar .nav li.dropdown.active>.dropdown-toggle,
body.site .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: #555;
    background-color: #fff;
}

body.site .navbar .nav li.dropdown.open>.dropdown-toggle .caret,
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret,
body.site .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #B70D28;
    border-bottom-color: #B70D28;
}

body.site .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

ul.nav.menu .hover-fx li>a {
  color: #10649b;
  text-shadow: none;
  padding: 10px 0;
}

ul.hover-fx li>a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 10%;
  height: 2px;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateX(50px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

ul.hover-fx li>a:hover::after,
ul.hover-fx li>a:focus::after {
  opacity: 1;
  width: 100%;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateX(0px);
}

.navbar .nav > li {
  display: inline-block;
}

.navbar .nav li a {
    padding: 25px 5px 25px;
    color: #fff;
    text-shadow: none;
    letter-spacing: 1.3px;
}

body.site ul.nav-child.unstyled.dropdown-menu li {
    text-align: left;
    border-bottom: 1px dashed rgba(183, 13, 40, 0.15);
}

body.site ul.nav-child.unstyled.dropdown-menu li:last-child {
    border-bottom: none;
}

body.site ul.nav-child.unstyled.dropdown-menu a {
    padding: 25px 15px 25px;
}

body.site li.item-113.deeper.parent ul.nav-child.unstyled.dropdown-menu li a,
body.site li.item-136.deeper.parent ul.nav-child.unstyled.dropdown-menu li a {
    padding: 15px 15px !important;
}

.navbar .nav li.item-112 a {
    letter-spacing: 1.5px;
}

div#module_1 {
    margin: 0px auto;
    max-width: 1072px;
}

.navbar .nav {
  float: none;
  margin: 0px;
}

ul.nav.menu.nav-pills li {
    width: calc(100%/9);
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

ul.nav.menu.nav-pills {
    font-size: 14px;
    letter-spacing: 0.09em;
}

body.site .navbar-inner {
    background: transparent;
    border: none;
    box-shadow: none !important;
}


body div.container.menu-bkgr {
    max-height: 75px;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 3px 10px 0px #484848;
    background: #b70d28;
    background: -moz-linear-gradient(top,  #b70d28 0%, #860116 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b70d28), color-stop(100%,#860116));
    background: -webkit-linear-gradient(top,  #b70d28 0%,#860116 100%);
    background: -o-linear-gradient(top,  #b70d28 0%,#860116 100%);
    background: -ms-linear-gradient(top,  #b70d28 0%,#860116 100%);
    background: linear-gradient(to bottom,  #b70d28 0%,#860116 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b70d28', endColorstr='#860116',GradientType=0 );
}

/*submenue*/

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: #DC926C;
    /*text-shadow: 0px 0px 10px #FFF, 2px 3px 30px #DEDEDE, -1px -5px 60px #E4E4E4;*/
}

ul.nav.menu ul.dropdown-menu li a::after,
ul.nav.menu ul.dropdown-menu li a::before { 
    display: none;
}

ul.nav.menu ul.dropdown-menu {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

ul.nav.menu.nav-pills ul li {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

ul.nav.menu.nav-pills ul li a {
    color: #b70d28;
    font-weight: bold;
    background: transparent;
    letter-spacing: -7px;
    transition: all 0.3s ease-in-out;
}

ul.nav.menu.nav-pills li:hover ul.dropdown-menu li a  {
    letter-spacing: 1px;
}

ul.nav.menu.nav-pills ul li a:hover,
ul.nav.menu.nav-pills ul li a:focus {
    color: #fff;
    text-decoration: none;
    background: #b70d28;    
}

body.site ul.dropdown-menu {
    padding: 0px;
    border: none;
    border-radius: 0px;
}

ul.nav.menu li:hover ul.dropdown-menu {
    opacity: 1;
    top: 53px;
    animation: slide 0.3s ease-in-out 0s normal;
  }

@keyframes slide {
  from  { transform: rotateY(90deg) skewX(10deg); }
  to     { transform: rotateY(0deg) skewX(0deg); }
}


body.site ul.nav.menu ul.nav-child ul li.current.active,
body.site ul.nav.menu ul li.current.active {
    background: #B70D28;

}

body.site ul.nav.menu li.deeper ul li.current.active>a {
    color: #fff;
}

body.site ul.nav.menu ul.nav-child ul li.current.active>a:hover,
body.site ul.nav.menu ul li.current.active>a:hover {
    background: #DC926C;
}

body.site ul.nav.menu ul.nav-child ul li.current.active a {
    color: #fff;
}

/*content Sidebar Menu*/


ul.nav.menu.sidebar-nav li {
    padding: 7px 0px;
    text-decoration: underline;
}

ul.nav.menu.sidebar-nav {
    font-size: 14px;
}

body.site .accordion-heading.panel-heading {
    font-size: 14px;
}

body.site ul.sidebar-nav>li>a:hover,
body.site ul.sidebar-nav>li>a:focus {
    background-color: rgba(183, 13, 40, 0.8);
    color: #fff;
}

body.site .nn_sliders.accordion>.accordion-group>.accordion-body>.accordion-inner {
    padding: 5px;
}



 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }

   body.itemid-111 .nav li.current.active a {
      padding-bottom: 25px;
    }

   .nav li.current.active a {
      padding-bottom: 50px;
      background: #fff;
      box-shadow: none;
      border-radius: 0px;
      color: #b70d28;
    }

    .nav li.dropdown.deeper ul li a,
    .nav li.dropdown.deeper ul li.current.active a {
      padding-bottom: 25px;
    }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}

body.site .navbar .nav>.active>a.dropdown-toggle,
body.site .navbar .nav>.active>a.dropdown-toggle:hover,
body.site .navbar .nav>.active>a.dropdown-toggle:focus {
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 8px 3px 18px rgba(0,0,0,0.125);
    border-radius: 0px;
    padding-bottom: 26px;
    border-bottom: 3px inset #E6E6E6;
}


body.site .navbar .nav>.active>a:hover,
body.site .navbar .nav>.active>a:focus {
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0 3px 8px rgba(82, 82, 82, 0.47);
    -moz-box-shadow: inset 0 3px 8px rgba(82, 82, 82, 0.47);
    box-shadow: inset 0 3px 8px rgba(82, 82, 82, 0.47);
}

body.site.Chrome .navbar .nav>.active>a:hover {
    padding-bottom: 40px;  
}

body.site .navbar .nav>.active>a::after {
    width: 0%;
    height: 0px;
}

body.site li.item-113.deeper.parent ul.nav-child.unstyled.dropdown-menu,
body.site li.item-136.deeper.parent ul.nav-child.unstyled.dropdown-menu {
    top: 20px;
}

body.site li.deeper.parent ul.nav-child.unstyled.dropdown-menu {
    webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2) !important;

}


/*respMenue*/
@media(min-width: 768px) {

/*  body.is_home button#showMenu {
      margin: 30px !important;
  }*/
}


button#showMenu {
    margin: 5px;
    padding: 20px;
    border-radius: 1px;
    border: none;
    position: relative;
    background: #b30c27;
    background: -moz-linear-gradient(left,  #b30c27 1%, #ff5656 0%, #b30c27 100%);
    background: -webkit-linear-gradient(left,  #b30c27 1%,#ff5656 0%,#b30c27 100%);
    background: linear-gradient(to right,  #b30c27 1%,#ff5656 0%,#b30c27 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30c27', endColorstr='#b30c27',GradientType=1 );
    color: #fff;
    box-shadow: inset -12px 12px 31px rgba(0, 0, 0, 0.35);
}


nav#navID-1.resp-nav-child1,
nav#navID-2.resp-nav-child2,
nav#navID-3.resp-nav-child3,
nav#navID-4.resp-nav-child4 {
    max-width: 130px;
    display: none;
    text-indent: 10px;
}

nav#navID-1.resp-nav-child1.open,
nav#navID-2.resp-nav-child2.open,
nav#navID-3.resp-nav-child3.open,
nav#navID-4.resp-nav-child4.open {
    display: block !important;
    text-indent: 10px;
}

nav.outer-nav button {
    padding: 5px 10px;
    color: #B70D28;
    margin-left: 5px;
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel */

/*Resp menu FX*/

html /*ggfs body hinzufg wg resp menue*/
.perspective {
  width: 100%;
  height: 100%;
}

.perspective {
  background: #aaa;
  position: relative;
}

.container-fx {
  background: #fff;
  min-height: 100%;
  position: relative;
  outline: 1px solid rgba(0,0,0,0);
  z-index: 10;
  -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
  transform: translateZ(0) translateX(0) rotateY(0deg);
}

.container-fx::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  background: rgba(0,0,0,0.2);
  /* the transition delay of the height needs to be synced with the container transition time */
  -webkit-transition: opacity 0.4s, height 0s 0.4s;
  transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
  position: relative;
}

.component {
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  overflow: scroll;
}

.modalview .container-fx {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.modalview .wrapper {
  -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .container-fx::after {
  opacity: 1;
  height: 101%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
  position: absolute;
  max-height: 760px;
  font-size: 2em;
}

@media(max-width: 767px) {
  .outer-nav.vertical {
    top: 55%;
    transition: top 0.4s ease-in-out;
  }
}

@media(min-width: 768px) {
  .outer-nav.vertical {
    top: 45%;
  }
}

.outer-nav.vertical {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav.horizontal {
  left: 50%;
  width: 75%;
  max-width: 1000px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.outer-nav.left {
  left: 25%;
}

.outer-nav.right {
  right: 30%;
}

.outer-nav.top {
  top: 25%;
}

.outer-nav.bottom {
  bottom: 25%;
}

.outer-nav a {
  display: inline-block;
  white-space: nowrap;
  font-weight: 300;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.outer-nav .resp-nav-child a {
  margin: 0 0 15px 0;
}

.outer-nav a:hover {
  color: #ffdccd;
}

.outer-nav.vertical a {
  display: block;
}

.outer-nav.horizontal a {
  margin: 15px 20px;
}

.outer-nav a::before {
  display: inline-block;
  font-family: 'typicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/* Effect Move Left */
@media(max-width: 1024px) {

  .effect-moveleft {
    background: #f4f3f1;
  }
}
.effect-moveleft .container-fx {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.effect-moveleft .container-fx::after {
  background: rgba(255,255,255,0.6);
}

.effect-moveleft.animate .container-fx {
  -webkit-transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
  transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
}

.no-csstransforms3d .effect-moveleft.animate .container-fx {
  left: -75%;
}

.effect-moveleft .outer-nav a {
  color: #B70D28;
  opacity: 0;
  -webkit-transform: translateX(100px) translateZ(-1000px);
  transform: translateX(100px) translateZ(-1000px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.effect-moveleft .outer-nav a:hover {
  color: #333;
}

.effect-moveleft.animate .outer-nav a {
  opacity: 1;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
}

.effect-moveleft.animate .outer-nav a:nth-child(2) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s;
}

.effect-moveleft.animate .outer-nav a:nth-child(3) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}

.effect-moveleft.animate .outer-nav a:nth-child(4) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}

.effect-moveleft.animate .outer-nav a:nth-child(5) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}

.effect-moveleft.animate .outer-nav a:nth-child(6) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.effect-moveleft.animate .outer-nav a:nth-child(7) {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

span.btnPlus:after {
    content: '+';
}

span.btnPlus.btnMinus:after {
    content: '-';
    font-size: 24px;
}

/*Firefox*/

body.Firefox .navbar .nav > .active > a {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    -moz-transition: all 0.4s ease-in-out;
}

body.Firefox .navbar .nav > .active > a:hover {
    box-shadow: none;
    background: #b5b5b5;
    background: -moz-linear-gradient(top,  #b5b5b5 0%, #e1e1e1 13%, #f1f1f1 34%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #b5b5b5 0%,#e1e1e1 13%,#f1f1f1 34%,#ffffff 100%);
    background: linear-gradient(to bottom,  #b5b5b5 0%,#e1e1e1 13%,#f1f1f1 34%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#ffffff',GradientType=0 );
}


/*IE / Edge*/

/*body.windows div#perspective .vcard p.tel {
    cursor: text !important;
}
*/



/* Mics Jugend-Forscht-Aenderungen */

/* Intro- und Beitragsbilder */

.pull-right.item-image {
    margin: 0px 0px 10px 18px;


}

.pull-left.item-image {
    margin: 0px 30px 18px 0px;

}

.breadcrumb {

    float: left;
    font-size: 10px;
    padding: 8px 28px;
}

a {
    text-decoration: none;
    color: #B70D28;
}

ul.sigProClassic li.sigProThumb {

    padding: 10px 10px 0 0;

}

body.site .ap_ajax_qc .success {
    border: none;
    background-color: transparent;
    color: #333;
}

/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #a90a23;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #a90a23;
      color: #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #f54e69;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
    color: #fff;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #a90a23;
    border-color: #a90a23;
}
@media(max-width: 1280px) {
  body#body.mobile #cookiesck_accept {
      width: 90px;
  }
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}