/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 360px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {

	body.is_home .pull-right.item-image {
	    float: right !important;
	    width: initial !important;
	    margin: 0 0 10px 18px !important;
	}
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}


@media(max-width: 640px) {

	body.site .outer-nav a {
	    margin: 0 0 7px 0;
	    font-size: 13px !important;
	}

	body.site nav.outer-nav.right.vertical {
	    top: 55%;
	}

	body.openNav nav.outer-nav.right.vertical {
	    top: 340px;
	}

	body.openNav2nd nav.outer-nav.right.vertical {
	    top: 250px;
	}
}

@media(width: 320px) and (orientation:portrait) {

	body.site div#module_96 .outer-nav a {
	    font-size: 12px !important;
	}
}

@media(width: 568px) and (orientation:landscape) {

	body.site .outer-nav a {
	    margin: 0 0 6px 0 !important;
	}

	body.site nav.outer-nav.right.vertical {
	    top: 55% !important;
	}

	body.openNav nav.outer-nav.right.vertical {
	    top: 340px !important;
	}

	body.openNav2nd nav.outer-nav.right.vertical {
	    top: 250px !important;
	}
}

@media(width: 600px) and (orientation: portrait) {

	body.site div#module_96 .outer-nav a {
	    margin: 0 0 15px 0 !important;
	    font-size: 14px !important;
	}

	body.site nav.outer-nav.right.vertical {
	    top: 45% !important;
	}

	body.openNav nav.outer-nav.right.vertical {
	    top: 400px !important;
	}

	body.openNav2nd nav.outer-nav.right.vertical {
	    top: 400px !important;
	}
}

@media(width: 667px) and (orientation:landscape) {

	body.site .outer-nav a {
	    margin: 0 0 10px 0;
	}

	body.site nav.outer-nav.right.vertical {
	    top: 55%;
	}

	body.openNav nav.outer-nav.right.vertical {
	    top: 400px;
	}

	body.openNav2nd nav.outer-nav.right.vertical {
	    top: 300px;
	}
}

@media(max-width: 736px) and (orientation:portrait) {

	body.openNav.openNav2nd nav.outer-nav.right.vertical {
	    top: 390px;
	}
}

@media(width: 736px) and (orientation:landscape) {

	body.site .outer-nav a {
	    margin: 0 0 10px 0;
	}

	body.site nav.outer-nav.right.vertical {
	    top: 55%;
	}

	body.openNav nav.outer-nav.right.vertical {
	    top: 90%;
	}

	body.openNav2nd nav.outer-nav.right.vertical {
	    top: 300px;
	}

	body.openNav.openNav2nd nav.outer-nav.right.vertical {
	    top: 390px;
	}
}

@media(width: 1024px) and (orientation:landscape) {

	.outer-nav.vertical {
	    top: 55% !important;
	}
}



@media (max-width: 736px) {

}

@media (max-width: 320px) {
	body.site .roto-link {
		font-size: 10px;
	}

	body.site .advert-img {
	    max-width: 50%;
	    left: 90px;
	}
}

@media(max-width: 499px) {

	ul.sigProClassic {
	    max-width: 215px;
	}
}

@media screen and (max-width: 600px) { /*dyn fontsize querys*/

  body.itemid-111 h3.fenster-slogan {
    font-size: calc(45px + 64 * ((100vw - 600px) / 960)) !important;
  }

  body.site main#content p,
  body.site main#content li,
  body.site .custom.rotoAdvert p  {
  		font-size: calc(18px + 8 * ((100vw - 600px) / 960));
  }

  body.site div#component h1 {
  		font-size: calc(24px + 24 * ((100vw - 600px) / 960 ));
  		line-height: calc(40px + 48 * ((100vw - 600px) / 960));
  }

  body.site h2 {
  		font-size: calc(31.5px + 32 * ((100vw - 600px) / 960));
  }

  body.site .custom.mobile-news-bottom.rotoAdvert.sliderBottom img {
	    width: calc(300px - 512 * ((100vw - 767px) / 960));
	}

	.hidden600 {
		display: none;
	}

	body.site div.module_bottom {
	     box-shadow: none;
	}

	
	body.site .roto-link {
		font-size: 12px;
	}
}

@media(min-width: 601px) {

	.mobile-news-bottom {
		display: none;
	}
}


@media(max-width: 767px) {

	.header-right.pull-right {
	    float: none;
	    margin: 0 auto;
	}

	.span4.logo.pull-left {
	    margin: 0 auto;
	    text-align: center;
	}

	.hidden767 {
		display: none;
	}

	body.site .visible767 {
	    display: block;
	}

	body.site .header-right.pull-right {
	    width: 100%;
	}

	body.site .custom.pull-right,
	body.site div#module_90,
	body.site div#module_104 {
	    float: none;
	}

	body.site div.vcard {
    	text-align: center;
	}

	body.site div.vcard .tel {
	    font-size: 18px;	    
	}

	body.site div.vcard .adr {
		padding: 0px;
	}

	body.site div.flexbox {
		display: block;
	}

	body.site.is_home .pull-right.item-image {
	    float: right !important;
	    width: 50% !important;
	}

	body.site .container-top {
	    margin: 10px auto;
	}

	.advert-img {
	    max-width: 70%;
	    position: relative;
	    bottom: 40px;
	    left: 40px;
	}

	body.site .nivo-slider-wrapper.theme-default.rotoAdvert.sliderBottom {
	    margin-bottom: 80px !important;
	}

	body.site .team-view.span12 figcaption {
		width: 100%;
	}

	.team-view.span12 figure.span3 {
		text-align: center;
	}

	.teamH3 {
		text-align: center;
	}

	.module_top.position_top {
	    padding: 0px 20px;
	}

	body.itemid-111 .f-slogan h4 {	
	    font-size: 12px;
	}
} /*<-- ! max767 END*/


@media(max-width: 768px) {

	body.site .pull-right.item-image {
	    float: none;
	    width: 80%;
	    margin: 0px auto 40px;
	    box-shadow: none;
	}

	body.site .container.content {
	    padding: 20px;
	}

	body.site .sidebar-nav.pull-right {
	    float: none;
	}

	body.site div.item-page .span5 .pull-right.item-image {
    float: none;
	    margin: 0px auto 30px;
	    width: 100%;
	}
}

@media(min-width: 768px) {

	/*content Sidebar Menu*/
	.sidebar-nav {
	    margin: 35px auto 30px;
	    /*max-width: 77%;*/
	}

	ul.nav.menu.sidebar-nav {
	    margin: 10px 0px;
	    font-size: 14px;
	}

	ul.nav.menu.sidebar-nav li {
	    padding: 7px 0px;
	    text-decoration: underline;
	}

	body.site .accordion-heading.panel-heading {
	    font-size: 14px;
	}


	body.site .copyright {
	    font-size: 12px;	    
	}

}

@media(min-width: 769px) {
	
	body.site div.item-page .span5 .pull-right.item-image {
	    float: none;
	    margin: 0 0 10px 18px;
	}
}

@media(max-width: 979px) {
	
	body.site div.nivo-caption h2 {
		font-size: calc(22px + 32 * ((100vw - 979px) / 960));
		text-shadow: 1px 1px 5px #000;
	}

	body.site div.nivo-caption p {
		font-size: calc(14px + 8 * ((100vw - 979px) / 960));
		text-shadow: 1px 1px 3px #000;	
	}
}

@media(max-width: 980px) {
	.header-right.pull-right {
	    width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 979px)  {

	.clear-slider-wrap {
		    width: 724px;
		    margin: 0 auto;
	}
}


@media(min-width: 980px) and (max-width: 1024px) {

	.clear-slider-wrap {
	    width: 940px;
	    margin: 0 auto;
	}
}

@media(max-width: 1024px) {
	body.site .hidden1024 {
		display: block;
	}

	body.site .outer-nav {
		font-size: 16px;
	}

	nav.resp-nav-child.unstyled a {
	    font-size: 14px;
	    text-indent: 20px;
	}

	.outer-nav a {
	  margin: 0 0 15px 0;
	}

	.outer-nav nav a {
		margin: 0 0 10px 0;
		font-size: 12px;
	}

	.outer-nav nav nav {
		margin: 0 0 8px 0;
		font-size: 12px;
		padding-left: 10px;
	}
}

@media(min-width: 1025px) {
	body.site .visible1025 {
		display: block;
	}

	body.site .effect-moveleft {
	    background: #fff;
	  }

	body.itemid-111 div.container.menu-bkgr {
	    min-height: 125px;
	}

	body.site .nn_sliders.accordion {
	    width: 320px;
	}
}

 /*Template Standard*/

 @media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin-left: -20px;
		margin-right: -20px;
	}
	.container-fluid {
		padding: 0;
	}
	.dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left;
	}
	.dl-horizontal dd {
		margin-left: 0;
	}
	.container {
		width: auto;
	}
	.row-fluid {
		width: 100%;
	}
	.row,
	.thumbnails {
		margin-left: 0;
	}
	.thumbnails > li {
		float: none;
		margin-left: 0;
	}
	[class*="span"],
	.uneditable-input[class*="span"],
	.row-fluid [class*="span"] {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.span12,
	.row-fluid .span12 {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class*="offset"]:first-child {
		margin-left: 0;
	}
	.input-large,
	.input-xlarge,
	.input-xxlarge,
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.input-prepend input,
	.input-append input,
	.input-prepend input[class*="span"],
	.input-append input[class*="span"] {
		display: inline-block;
		width: auto;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 0;
	}
}
@media (max-width: 480px) {
	.nav-collapse {
		-webkit-transform: translate3d(0,0,0);
	}
	.page-header h1 small {
		display: block;
		line-height: 18px;
	}
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}
	.form-horizontal .control-label {
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	.form-horizontal .control-list {
		padding-top: 0;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		padding-right: 10px;
	}
	.media .pull-left,
	.media .pull-right {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
	.media-object {
		margin-right: 0;
		margin-left: 0;
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px;
	}
	.carousel-caption {
		position: static;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 724px;
	}
	.span12 {
		width: 724px;
	}
	.span11 {
		width: 662px;
	}
	.span10 {
		width: 600px;
	}
	.span9 {
		width: 538px;
	}
	.span8 {
		width: 476px;
	}
	.span7 {
		width: 414px;
	}
	.span6 {
		width: 352px;
	}
	.span5 {
		width: 290px;
	}
	.span4 {
		width: 228px;
	}
	.span3 {
		width: 166px;
	}
	.span2 {
		width: 104px;
	}
	.span1 {
		width: 42px;
	}
	.offset12 {
		margin-left: 764px;
	}
	.offset11 {
		margin-left: 702px;
	}
	.offset10 {
		margin-left: 640px;
	}
	.offset9 {
		margin-left: 578px;
	}
	.offset8 {
		margin-left: 516px;
	}
	.offset7 {
		margin-left: 454px;
	}
	.offset6 {
		margin-left: 392px;
	}
	.offset5 {
		margin-left: 330px;
	}
	.offset4 {
		margin-left: 268px;
	}
	.offset3 {
		margin-left: 206px;
	}
	.offset2 {
		margin-left: 144px;
	}
	.offset1 {
		margin-left: 82px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 710px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 648px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 586px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 524px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 462px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 400px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 338px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 276px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 214px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 152px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 90px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 28px;
	}
}
@media (min-width: 1200px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 940px;
	}
	.span12 {
		width: 940px;
	}
	.span11 {
		width: 860px;
	}
	.span10 {
		width: 780px;
	}
	.span9 {
		width: 700px;
	}
	.span8 {
		width: 620px;
	}
	.span7 {
		width: 540px;
	}
	.span6 {
		width: 460px;
	}
	.span5 {
		width: 380px;
	}
	.span4 {
		width: 300px;
	}
	.span3 {
		width: 220px;
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 100px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
		*margin-left: 2.0744680846383%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
		*width: 57.393617015638%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
		*width: 48.882978718638%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 926px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 846px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 766px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 686px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 606px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 526px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 446px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 366px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 286px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 206px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 126px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 46px;
	}
	.thumbnails {
		margin-left: -20px;
	}
	.thumbnails > li {
		margin-left: 20px;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}
}
@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: static;
	}
	.navbar-fixed-top {
		margin-bottom: 18px;
	}
	.navbar-fixed-bottom {
		margin-top: 18px;
	}
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 5px;
	}
	.navbar .container {
		width: auto;
		padding: 0;
	}
	.navbar .brand {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 0 0 -5px;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 9px;
	}
	.nav-collapse .nav > li {
		float: none;
	}
	.nav-collapse .nav > li > a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > .divider-vertical {
		display: none;
	}
	.nav-collapse .nav .nav-header {
		color: #fff;
		text-shadow: none;
	}
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		font-weight: bold;
		color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.nav-collapse .dropdown-menu li + li a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus,
	.nav-collapse .dropdown-menu a:hover,
	.nav-collapse .dropdown-menu a:focus {
		background-color: #007ab8;
	}
	.navbar-inverse .nav-collapse .nav > li > a,
	.navbar-inverse .nav-collapse .dropdown-menu a {
		color: #999;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:focus,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:focus {
		background-color: #111111;
	}
	.nav-collapse.in .btn-group {
		margin-top: 5px;
		padding: 0;
	}
	.nav-collapse .dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		float: none;
		display: none;
		max-width: none;
		margin: 0 15px;
		padding: 0;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.nav-collapse .open > .dropdown-menu {
		display: block;
	}
	.nav-collapse .dropdown-menu:before,
	.nav-collapse .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .dropdown-menu .divider {
		display: none;
	}
	.nav-collapse .nav > li > .dropdown-menu:before,
	.nav-collapse .nav > li > .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .navbar-form,
	.nav-collapse .navbar-search {
		float: none;
		padding: 9px 15px;
		margin: 9px 0;
		border-top: 1px solid #007ab8;
		border-bottom: 1px solid #007ab8;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-inverse .nav-collapse .navbar-form,
	.navbar-inverse .nav-collapse .navbar-search {
		border-top-color: #111111;
		border-bottom-color: #111111;
	}
	.navbar .nav-collapse .nav.pull-right {
		float: none;
		margin-left: 0;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		overflow: hidden;
		height: 0;
	}
	.navbar .btn-navbar {
		display: block;
	}
	.navbar-static .navbar-inner {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 980px) {
	.nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

@media (max-width: 767px) {
	div.modal {
		position: fixed;
		top: 20px;
		left: 20px;
		right: 20px;
		width: auto;
		margin: 0;
	}
	div.modal.fade {
		top: -100px;
	}
	div.modal.fade.in {
		top: 20px;
	}
}
@media (max-width: 480px) {
	div.modal {
		top: 10px;
		left: 10px;
		right: 10px;
	}
}

@media (max-width: 480px) {
	.item-info > span {
		display: block;
	}
	.blog-item .pull-right.item-image {
		margin: 0 0 18px 0;
	}
	.blog-item .pull-left.item-image {
		margin: 0 0 18px 0;
		float: none;
	}
}
@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.clear-slider {
		top: 0;
	}
	.clear-slider .ext-item-html {
		display: none;
	}
	.header {
		background: transparent;
	}
	.header .brand {
		float: none;
		display: block;
		text-align: center;
	}
	.header-search {
		float: none;
		display: block;
	}
	.header-search form {
		margin: 0;
	}
	.header-search .search-query {
		width: 90%;
	}
	.header .nav-pills > li > a {
		border: 1px solid #ddd;
		border-bottom: 0;
		margin: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.header .nav-pills > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.header .nav-pills > li:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.modal.fade {
		top: -100%;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs > li > a:hover {
		border-color: #ddd;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid #333;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		border-bottom: 1px solid #333;
	}
	.nav-tabs.nav-dark > li > a:hover {
		border-color: #333;
	}
	.nav-pills > li {
		float: none;
	}
	.nav-pills > li > a {
		margin-right: 0;
	}
	.nav-pills > li > a {
		margin-bottom: 3px;
	}
	.nav-pills  > li:last-child > a {
		margin-bottom: 1px;
	}
	.form-search > .pull-left,
	.form-search > .pull-right {
		float: none;
		display: block;
		margin-bottom: 9px;
	}
}
@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom: 0 !important;
	}
	.item-comment .item-image {
		display: none;
	}
	.well {
		padding: 10px;
	}
	.header-right {
		width: 100%;
		float: left;
		text-align: left;
	}
	.header-right .clear-map {
		width: 100%;
	}
	.header-right .clear-phone {
		text-align: left !important;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#login-form .input-small {
		width: 62px;
	}
}